:root {
  --bg-color: #fff;
  --text-primary: #000;
  --text-secondary: #333;
}

html {
  background-color: var(--bg-color, white);
}

.title {
  text-align: center;
  font-size: 6em;
  color: var(--text-primary);
}

.content {
  text-align: center;
  font-size: 4em;
  color: var(--text-secondary);
}

.btn__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
